.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  align-items: center;
  font-size: 15px;
  height: 80px;
  /* width: 85%; */
  /* border: 2px solid black; */
  /* border-radius: 5px; */
  /* margin-top: 1rem; */
}

.coin-row:hover{
  transform: scale(1.1);
  transform: translate(7px, -7px);
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 10px #888888;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 15px;
  min-width: 250px;
}

.coin h1 {
  font-size: 16px;
  padding-right: 10px;
  text-align: left;
}

.coin-marketCap{
  padding-right: 9px;
  font-weight: bold;
  text-align: left;

}

.coin-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.coin-price {
  font-weight: bold;
}

.coin-volume {
  width: 135px;
}

.coin-marketcap {
  width: 230px;
  padding-right: 15px;
}

.coin-percent {
  width: 100px;
  padding-right: 15px;
}

.red {
  color: #f00606;
  font-weight: bold;
}

.green {
  color: #11d811;
  font-weight: bold;
}

.markcap-progress{
  width: 230px;
  height: 14px;
  padding-right: 9px;
  background-color: #232530;
  border-radius: 16px;
  transform: scale(0.75);
}

.progress-bar bg-info progress-bar-striped{
    background-color: violet;
}

/* ------  */

.crypto-row{
  display: block;
  font-size: 17px;
  /* width: 800px; */
  height: 80px;
  border-radius: 5px;
  /* margin-top: 1rem; */
}

.crypto-row:hover{
  transform: scale(1.1);
  transform: translate(7px, -7px);
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 10px #888888;
}

.crypto-marketcap{
  text-align: left;
}

.crypto-img{
  height: 30px;
  width: 30px;
}

.crypto-name{
  text-align: left;
}

.crypto-symbol {
  text-transform: uppercase;
}

.crypto-price {
  text-align: left;
  font-weight: bold;
}
