.coin_container {
  display: flex;
  justify-content: center;
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid #88888825;
  width: 1105px;
  padding: 0rem 2rem;
}

.coin_row:hover {
  transform: scale(1.1);
  transform: translate(4px, -4px);
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  /* box-shadow: 5px 10px #888888; */
}


.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_cap {
  display: flex;
  align-items: center;
  padding-right: 24px;
  font-weight: 900;
  /* font-weight: bold; */
}

.coin_h1 {
  font-size: 19px;
  width: 150px;
  font-weight: 900;
}

.coin_symbol {
  text-transform: uppercase;
}

.coin_data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin_price {
  width: 110px;
}

.coin_volume {
  width: 155px;
}

.coin_marketcap {
  width: 230px;
}

.coin_percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #13c783;
}

.markcap-progress {
  width: 230px;
  height: 14px;
  padding-right: 9px;
  background-color: #232530;
  border-radius: 16px;
  transform: scale(0.75);
}